<conf gurat on>
  <shutdownHook class="ch.qos.logback.core.hook.Delay ngShutdownHook"/>

  <!-- ===================================================== -->
  <!-- Serv ce Conf g -->
  <!-- ===================================================== -->
  <property na ="DEFAULT_SERV CE_PATTERN"
            value="%-16X{trace d} %-12X{serv ce dent f er:--} %-16X{ thod} %-12X{product:--} %-25logger{0} %msg"/>

  <property na ="DEFAULT_ACCESS_PATTERN"
            value="%msg %-12X{serv ce dent f er:--} %X{trace d} %X{product:--}"/>

  <!-- ===================================================== -->
  <!-- Common Conf g -->
  <!-- ===================================================== -->

  <!-- JUL/JDK14 to Logback br dge -->
  <contextL stener class="ch.qos.logback.class c.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextL stener>

  <!-- Serv ce Log (Rollover every 50MB, max 5 logs) -->
  <appender na ="SERV CE" class="ch.qos.logback.core.roll ng.Roll ngF leAppender">
    <f le>${log.serv ce.output}</f le>
    <roll ngPol cy class="ch.qos.logback.core.roll ng.F xedW ndowRoll ngPol cy">
      <f leNa Pattern>${log.serv ce.output}.% </f leNa Pattern>
      <m n ndex>1</m n ndex>
      <max ndex>5</max ndex>
    </roll ngPol cy>
    <tr gger ngPol cy class="ch.qos.logback.core.roll ng.S zeBasedTr gger ngPol cy">
      <maxF leS ze>50MB</maxF leS ze>
    </tr gger ngPol cy>
    <encoder>
      <pattern>%date %.-3level ${DEFAULT_SERV CE_PATTERN}%n</pattern>
    </encoder>
  </appender>

  <!-- Access Log (Rollover every 50MB, max 5 logs) -->
  <appender na ="ACCESS" class="ch.qos.logback.core.roll ng.Roll ngF leAppender">
    <f le>${log.access.output}</f le>
    <roll ngPol cy class="ch.qos.logback.core.roll ng.F xedW ndowRoll ngPol cy">
      <f leNa Pattern>${log.access.output}.% </f leNa Pattern>
      <m n ndex>1</m n ndex>
      <max ndex>5</max ndex>
    </roll ngPol cy>
    <tr gger ngPol cy class="ch.qos.logback.core.roll ng.S zeBasedTr gger ngPol cy">
      <maxF leS ze>50MB</maxF leS ze>
    </tr gger ngPol cy>
    <encoder>
      <pattern>${DEFAULT_ACCESS_PATTERN}%n</pattern>
    </encoder>
  </appender>

  <!--LogLens -->
  <appender na ="LOGLENS" class="com.tw ter.loglens.logback.LoglensAppender">
    <mdcAdd  onalContext>true</mdcAdd  onalContext>
    <category>${log.lens.category}</category>
    < ndex>${log.lens. ndex}</ ndex>
    <tag>${log.lens.tag}/serv ce</tag>
    <encoder>
      <pattern>%msg</pattern>
    </encoder>
  </appender>

  <!-- LogLens Access -->
  <appender na ="LOGLENS-ACCESS" class="com.tw ter.loglens.logback.LoglensAppender">
    <mdcAdd  onalContext>true</mdcAdd  onalContext>
    <category>${log.lens.category}</category>
    < ndex>${log.lens. ndex}</ ndex>
    <tag>${log.lens.tag}/access</tag>
    <encoder>
      <pattern>%msg</pattern>
    </encoder>
  </appender>

  <!-- ===================================================== -->
  <!-- Pr mary Async Appenders -->
  <!-- ===================================================== -->

  <property na ="async_queue_s ze" value="${queue.s ze:-50000}"/>
  <property na ="async_max_flush_t  " value="${max.flush.t  :-0}"/>

  <appender na ="ASYNC-SERV CE" class="com.tw ter. nject.logback.AsyncAppender">
    <queueS ze>${async_queue_s ze}</queueS ze>
    <maxFlushT  >${async_max_flush_t  }</maxFlushT  >
    <appender-ref ref="SERV CE"/>
  </appender>

  <appender na ="ASYNC-ACCESS" class="com.tw ter. nject.logback.AsyncAppender">
    <queueS ze>${async_queue_s ze}</queueS ze>
    <maxFlushT  >${async_max_flush_t  }</maxFlushT  >
    <appender-ref ref="ACCESS"/>
  </appender>

  <appender na ="ASYNC-LOGLENS" class="com.tw ter. nject.logback.AsyncAppender">
    <queueS ze>${async_queue_s ze}</queueS ze>
    <maxFlushT  >${async_max_flush_t  }</maxFlushT  >
    <appender-ref ref="LOGLENS"/>
  </appender>

  <appender na ="ASYNC-LOGLENS-ACCESS" class="com.tw ter. nject.logback.AsyncAppender">
    <queueS ze>${async_queue_s ze}</queueS ze>
    <maxFlushT  >${async_max_flush_t  }</maxFlushT  >
    <appender-ref ref="LOGLENS-ACCESS"/>
  </appender>

  <!-- ===================================================== -->
  <!-- Package Conf g -->
  <!-- ===================================================== -->

  <!-- Per-Package Conf g -->
  <logger na ="com.tw ter" level=" nfo"/>
  <logger na ="com.tw ter.w lyns" level="warn"/>
  <logger na ="com.tw ter.f nagle.mux" level="warn"/>
  <logger na ="com.tw ter.f nagle.serverset2" level="warn"/>
  <logger na ="com.tw ter.logg ng.Scr beHandler" level="warn"/>
  <logger na ="com.tw ter.zookeeper.cl ent. nternal" level="warn"/>

  <!-- Root Conf g -->
  <root level="${log_level:- NFO}">
    <appender-ref ref="ASYNC-SERV CE"/>
    <appender-ref ref="ASYNC-LOGLENS"/>
  </root>

  <!-- Access Logg ng -->
  <logger na ="com.tw ter.f natra.thr ft.f lters.AccessLogg ngF lter"
          level=" nfo"
          add  v y="false">
    <appender-ref ref="ASYNC-ACCESS"/>
    <appender-ref ref="ASYNC-LOGLENS-ACCESS"/>
  </logger>

</conf gurat on>
