<conf gurat on>
    <!-- ===================================================== -->
    <!-- Console appender for local debugg ng and test ng -->
    <!-- ===================================================== -->
    <appender na ="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ===================================================== -->
    <!-- Package Conf g -->
    <!-- ===================================================== -->

    <!-- Root Conf g -->
    <root level=" nfo">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Per-Package Conf g -->
    <logger na ="com.tw ter" level=" nfo"/>
    <logger na ="com.tw ter.zookeeper.cl ent. nternal" level="warn"/>
    <logger na ="com.tw ter.zookeeper.cl ent. nternal.Cl entCnxnSocket" level="error"/>
    <logger na ="com.tw ter.logg ng.Scr beHandler" level="warn"/>
    <logger na ="com.tw ter.f natra" level=" nfo"/>

    <logger na ="org.apac .kafka" level="debug"/>
    <logger na ="org.apac .kafka.cl ents" level=" nfo"/>
    <logger na ="org.apac .kafka.cl ents.NetworkCl ent" level="warn"/>
    <logger na ="org.apac .kafka.cl ents.consu r. nternals" level=" nfo"/>
    <logger na ="org.apac .kafka.common.network" level="warn" />
    <logger na ="org.apac .kafka.common.secur y.aut nt cator" level=" nfo" />
    <logger na ="kafka.server.KafkaConf g" level="off" />
    <logger na ="org.apac .kafka.cl ents.producer.ProducerConf g" level="off" />
    <logger na ="org.apac .kafka.cl ents.consu r.Consu rConf g" level="off" />
    <logger na ="org.apac .kafka.cl ents.adm n.Adm nCl entConf g" level="off" />
    <logger na ="org.apac .kafka.common.ut ls.App nfoParser" level="off" />
    <logger na ="org.apac .zookeeper" level="off" />


    <logger na ="com.google. nject" level=" nfo"/>
    <logger na =" o.netty" level=" nfo"/>
    <logger na ="jdk.event" level=" nfo"/>
    <logger na ="javax.secur y" level=" nfo"/>
</conf gurat on>
