< ncluded>
    <appender na ="ALL-F LE" class="ch.qos.logback.core.roll ng.Roll ngF leAppender">
        <f le>t etyp e-all.log</f le>
        <append>true</append>
        <roll ngPol cy class="ch.qos.logback.core.roll ng.F xedW ndowRoll ngPol cy">
            <f leNa Pattern>t etyp e-all-% .log</f leNa Pattern>
            <m n ndex>1</m n ndex>
            <max ndex>20</max ndex>
        </roll ngPol cy>
        <tr gger ngPol cy class="ch.qos.logback.core.roll ng.S zeBasedTr gger ngPol cy">
            <maxF leS ze>800MB</maxF leS ze>
        </tr gger ngPol cy>
        <encoder>
            <pattern>
                %date [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender na ="ALL"  class="ch.qos.logback.class c.AsyncAppender">
        <appender-ref ref="ALL-F LE" />
    </appender>
</ ncluded>
