<?xml vers on="1.0" encod ng="UTF-8"?>
<conf gurat on debug="false">
    <contextL stener class="ch.qos.logback.class c.jul.LevelChangePropagator">
      <resetJUL>true</resetJUL>
    </contextL stener>

    < nclude res ce="logg ng/logback-all- nclude.xml" />

    <root level=" NFO">
        <appender-ref ref="ALL" />
    </root>
</conf gurat on>
